.navegacao {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #4D493E;
}

.linkDestaque{
    
}

@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}