.weapon-markdown-container h3,
.weapon-markdown-container h4,
.weapon-markdown-container h5,
.weapon-markdown-container h6 {
    font-family: var(--fonte-secundaria);
}

.weapon-markdown-container h3 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.weapon-markdown-container h4 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.weapon-markdown-container p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
}

.weapon-markdown-container a {
    text-decoration: underline;
}

.weapon-markdown-container img {
    display: block;
    margin: 0 auto;
}

.weapon-markdown-container ul {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.weapon-markdown-container ul > li {
    margin-bottom: 1rem;
    list-style: disc;
}

.weapon-markdown-container pre,
.weapon-markdown-container blockquote {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
}

.weapon-markdown-container pre {
    overflow-x: auto;
}

@media (max-width: 1100px) {
    .weapon-markdown-container p {
        margin-bottom: 2rem;
    }
}

@media (max-width: 744px) {
    .weapon-markdown-container img {
        width: 70%;
    }
    .weapon-markdown-container h3 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .weapon-markdown-container p {
        font-size: 1.1rem;
        line-height: 1.75rem;
    }
}