.character_title{
    border: 1px solid black;
    font-size: 22px;
}

.list{
    list-style-position: inside;
    margin-left: 5%;
    margin-bottom: 0.5em;
}

.character_name{
    font-weight: bold;
    font-size: 1.5rem;
}


.line{
    list-style-type: square;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.characters{
    width: 80%;
    margin: 0 auto;
}

.image_character{
    width: 50%;
    border-radius: 10px;
    margin-left: 20%;
    border: 5px solid var(--secondary-color);
}
.character {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4em;
}

.character_description {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.character_separation{
    border-top: solid #bab5a1;
}

@media (max-width: 1300px) {

    .characters{
        flex-direction: column;
        margin-bottom: 0.5em;
    }


    .list{
        list-style-position: inside;
        margin-left: 5%;
        margin-bottom: 0.5em;
    }
    
    .character_name{
        font-weight: bold;
        font-size: 1.5rem;
    }

    .line{
        font-size: 1.1rem;
    }
    

    .character_description {
        flex-direction: column;
    }

    .image_character{
        display: column;
        width: 100%;
        margin: 2em 0;
        margin-bottom: -10%;
    }


    .character_description {
        padding: 0;
    }

}