
.linkDestaque{
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
}

.option{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--secondary-color);
}
