.character_title{
    border: 1px solid black;
    font-size: 22px;
}

.characters{
    width: 80%;
    margin: 0 auto;
}

.character {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1em;
}



@media (max-width: 1300px) {

    .character_separation{
        margin-top: 6em;
    }

    .figure_character{
        padding-bottom: 6rem;
    }

}

@media (max-width: 744px) {

    .character_separation{
        margin-top: 3em;
    }

    .figure_character{
        padding-bottom: 2rem;
    }
}