.fotoSobreMim {
    margin-bottom: .5rem;
    margin-left: 1.5rem;
    width: 40vw;
    float: right;
}

.paragraph{
    text-align: justify;
    font-size: 20px;
}

.list{
    margin-left: 20px;
}

.line{
    font-size: 1.2rem;
    list-style: square;

}

.link{
    font-weight: bold;
}
.imageBackground{
    filter: brightness(70%);
    width: 1000px;
    display: flex;
    margin: 30px auto;
    border-radius: 10px;
}

.card_text{
    margin: auto;
}

.claim_title{
    border: 1px solid black;
}

.repository{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #4D493E;
    color: #C8C2AA;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
}




@media (max-width: 1300px) {
    .fotoSobreMim {
        float: none;
        display: block;
        margin: 0 auto 2rem;
        width: 70vw;
    }

    .paragrafo {
        margin-bottom: 2rem;
    }

    .imageBackground{
        width: 400px;
    }

    .paragraph{
        font-size: 19px;
    }
}

@media (max-width: 744px) {
    .fotoSobreMim {
        width: 100%;
    }

    .subtitulo {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .paragrafo {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}